<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post Details Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
<%- include("partial/header-details"); -%>
<div class="container box1">
  <h1><%= title %></h1>
  <p><%= categories %></p>
  <p><%= content %></p>
</div>
<%- include("partial/footer"); -%>
